@import './style/fonts/stylesheet.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
:root {
    --primary-bg: #ffffff;
    --primary-fg: #000;
    --secondary-bg: #ffffff;
    --secondary-fg: #555;
    --primary-btn-bg: #000;
    --primary-btn-fg: #fff;
    --secondary-btn-bg: #ff0000;
    --secondary-btn-fg: #ffff00;
    --image-opacity: 1;
}

.dark-mode {
    --primary-bg: #282c35;
    --primary-fg: #fff;
    --secondary-bg: #1e2129;
    --secondary-fg: #aaa;
    --primary-btn-bg: #ddd;
    --primary-btn-fg: #222;
    --secondary-btn-bg: #780404;
    --secondary-btn-fg: #baba6a;
    --image-opacity: 0.85;
}

body {
    font-family: 'tt_normsregular', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: var(--primary-bg);
    color: var(--primary-fg);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: var(--primary-fg);
}

a:hover,
a:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--primary-fg);
}

.list-group-item {
    background: var(--secondary-bg);
}

main {
    min-height: 80vw;
    margin-top: 90px;
}

.sk-chase {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #000000;
    border-radius: 100%;
    animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
    animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
    animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }
    100%,
    0% {
        transform: scale(1);
    }
}

// Homepage

.product-link {
    border: 1px solid transparent;
    height: 340px;
    max-width: 270px;
    margin: 0 10px;
    background: var(--secondary-bg);
}

.product-link:hover {
    border: 1px solid var(--primary-fg);
}

a:hover {
    text-decoration: none;
    color: var(--primary-fg);
}

.card {
    padding: 0 !important;
}
.card-img,
.card-img-top,
.card-img-bottom {
    height: 215px;
    object-fit: contain;
    background: #ffffff;
}

.card-body {
    padding: 20px 10px;

    .card-text {
        padding: 0;
        font-size: 12px;
    }

    .card-title {
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 42px;
        overflow: hidden;
    }
}

.logo,
.navbar-light .navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    color: var(--primary-fg);
}

.small-logo {
    font-family: 'Permanent Marker', cursive;
}

.navbar {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 30px #00000010;
    background: var(--secondary-bg) !important;

    a {
        color: var(--primary-fg);
    }

    .navbar-nav {
        align-items: center;
    }
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #a452f5;
}

.dark-mode {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-fg);
}

@media (min-width: 1200px) {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1440px;
    }
}

.footer {
    background: #1b1b1b;
    color: #ffffff;
    min-height: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;
}
.carousel-container {
    margin-top: 140px;
    visibility: hidden;
}

.carousel {
    margin-top: -40px;
    margin-bottom: 100px;
    overflow: hidden;

    img {
        object-fit: cover;
        height: 100%;
    }
}

.carousel-image-container {
    height: calc(100vh - 116px);
}
.carousel-caption {
    top: 0;
    left: 40px;
    text-align: left;

    h3 {
        font-size: 3rem;
        color: #ffffff;
        font-family: 'tt_normsblack', Arial, sans-serif;
        letter-spacing: -1px;
    }

    p {
        font-size: 20px;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: none;
}

.btn:not(:disabled):not(.disabled) {
    font-size: 1rem;
    padding: 0.6rem 2.5rem;
}

.btn.btn-primary {
    background: #de0111;
    border-radius: 50px;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.narrow-container {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

// Product page
.img-fluid {
    object-fit: cover;
    width: 100%;
}
// Cart page
.cart {
    margin-top: 110px;
}

// General override
.btn svg {
    margin-left: 20px;
    margin-top: -3px;
}

// SLider
.slick-prev,
.slick-next {
    z-index: 1;
}

.slick-prev:before,
.slick-next:before {
    color: var(--primary-fg);
    font-size: 50px;
    z-index: 1000;
    position: absolute;
}

.slick-prev:before {
    left: 20px;
}

.slick-next:before {
    right: 20px;
}
